{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- ======= Styles ====== -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_styles.css' %}">
</head>


<body class="p-0 m-0">
    <div class="container-fluid p-0 m-0"> <!-- Use container-fluid and remove padding/margin -->
        {% include 'admin/sidebar.html' %}
        <div class="main">
            {% include 'admin/topbar.html' %}
            {% block main_content %}{% endblock %}
        </div>
    </div>
    <script>
        // Search clear functionality
        $(document).ready(function() {
            const $searchInput = $('.search-input');
            const $clearBtn = $('.search-clear');
    
            $searchInput.on('input', function() {
                $clearBtn.toggle(!!$(this).val());
            });
    
            $clearBtn.click(function() {
                $searchInput.val('').focus();
                $(this).hide();
            });
            $('.toggle').click(function() {
                $('.page-container').toggleClass('sidebar-collapsed');
            });
        });
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- ====== ionicons ======= -->
       <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>