{% extends 'base.html' %}
{% block content %}
        <section class="about-us">
            <h1>About Us</h1>
            <p>Welcome to Ecomart Accessories, your number one source for all things accessories. We're dedicated to providing you the very best of electronic accessories, with an emphasis on quality, customer service, and uniqueness.</p>
            <p>Founded in 2023, Ecomart Accessories has come a long way from its beginnings. When we first started out, our passion for eco-friendly gadgets drove us to start our own business.</p>
            <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
            <p>Sincerely, <br>The Ecomart Accessories Team</p>
        </section>
        <section class="faq">
            <h2>Frequently Asked Questions (FAQ)</h2>
            <div class="faq-item">
                <h3>What is Ecomart Accessories?</h3>
                <p>Ecomart Accessories is an online store offering a wide range of electronic accessories, including chargers, cases, headphones, and smart home devices.</p>
            </div>
            <div class="faq-item">
                <h3>How can I place an order?</h3>
                <p>You can place an order through our website by adding products to your cart and proceeding to checkout. Follow the instructions to complete your purchase.</p>
            </div>
            <div class="faq-item">
                <h3>What payment methods do you accept?</h3>
                <p>We accept various payment methods including credit/debit cards and Mpesa.</p>
            </div>
            <div class="faq-item">
                <h3>How can I contact customer support?</h3>
                <p>You can contact our customer support via email, phone, LinkedIn, or WhatsApp. See our contact information in our contacts section.</p>
            </div>
        </section>
{% endblock content %}