{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomart Accessories</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/navbar.js' %}" defer></script>
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="{% static "images/Logo.png" %}" alt="Ecomart Accessories Logo" class="logo">
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
                <div id="nav-grid"></div>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="{% url "home_page" %}">
                            <img src="{% static "images/Home.png" %}" alt="Home" class="nav-icon"> Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url "store:about" %}">
                            <img src="{% static "images/shopping-cart.png" %}" alt="Home" class="nav-icon"> About Us
                        </a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <img src="{% static "images/arrow-down.png" %}" alt="" class="nav-icon" style="height: 10px; width: 12px;"> Categories
                            </button>
                            <div class="dropdown-content">
                                <a href="products.html">Fruits</a>
                                <a href="products.html">Juices</a>
                                <a href="">Drinks</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{% url "store:contact" %}">
                            <img src="{% static "images/contact.png" %}" alt="Home" class="nav-icon">Contact Us
                        </a>
                    </li>
                </ul>   
            </div>
            <div class="icons">
                <div class="login-icon">
                    <img src="{% static "images/search.png" %}" alt="" id="search-btn">
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="{% static "images/account.png" %}" alt="Account" class="nav-icon">
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url "login" %}">Login</a>
                        <a href="{% url "register" %}">Sign Up</a>
                    </div>
                </div>
                <a href="{% url "store:cart" %}">
                    <img src="{% static "images/cart.png" %}" alt="Cart" class="nav-icon" id="cart-icon">
	    	    <p id="cart-total-icon">1</p>
                </a>
                <div class="search-form">
                    <form action="" method="post">
                        <input type="text" id="search-bar" placeholder="Search products...">
                        <button id="search-button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
       {% block content %}
       {% endblock content%}
    </main>
    <footer>
        <p>&copy; 2024 Ecomart Accessories. All rights reserved.</p>
    </footer>
</body>
</html>
