{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="cart">
    <div class="cart-header">
        <a class="btn-continue-shopping" href="{% url 'store:home_page' %}">&#x2190; Continue Shopping</a>
        <table class="cart-summary">
            <tr>
                <th>Items: <strong>{{order.get_cart_items}}</strong></th>
                <th>Total: <strong>{{order.get_cart_total|floatformat:2}}</strong></th>
                <th>
                    <a class="btn-checkout" href="{% url 'store:checkout' %}">Checkout</a>
                </th>
            </tr>
        </table>
    </div>
    <div class="cart-content">
        <div class="cart-row header">
            <div class="flex-2"></div>
            <div class="flex-2"><strong>Item</strong></div>
            <div class="flex-1"><strong>Price</strong></div>
            <div class="flex-1"><strong>Quantity</strong></div>
            <div class="flex-1"><strong>Total</strong></div>
        </div>
        {% for item in items %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
            <div style="flex:2"><p>{{item.product.name}}</p></div>
            <div style="flex:1"><p>ksh {{item.product.price|floatformat:2}}</p></div>
            <div style="flex:1">
                <p class="quantity">{{item.quantity}}</p>
                <div class="quantity">
                    <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
            
                    <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                </div>
            </div>
            <div style="flex:1"><p>ksh {{item.get_total|floatformat:2}}</p></div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
        