{% extends 'base.html' %}
{% block content%}
        <section class="featured-products">
            <h2>{{category.name}}</h2>
            <div class="product-grid">
                <!-- Example product cards -->
                 {% for product in cat_products %}
                 <div class="product-card">
                    <img src="{{ product.imageURL }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }}</p>
                    <a href="{% url 'store:product_detail' product.id %}">View Details</a>
                </div>
                 {% endfor %}
                <!-- Add more products as needed -->
            </div>
        </section>
{% endblock content %}
