{% extends 'base.html' %}
{% block content%}
        <section class="hero">
            <h2>Your One-Stop Shop for Accessories</h2>
        </section>
        <section class="featured-products">
            <h2>Featured Products</h2>
            <div class="product-grid">
                <!-- Example product cards -->
                 {% for product in products %}
                 <div class="product-card">
                    <img class="product_img" src="{{ product.imageURL }}" alt="{{ product.name }}">
                    <div class="description">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.price }}</p>
                        <a href="{% url 'store:product_detail' product.id %}">View Details</a>
                    </div>
                </div>
                 {% endfor %}
                <!-- Add more products as needed -->
            </div>
        </section>
        <section class="offers">
            <h2>Products on Offer</h2>
            <div class="product-grid">
                <div class="product-card show">
                    <img src="../static/images/blue grapes.png" alt="Charger">
                    <div class="description">
                        <h3>Charger</h3>
                        <p><del>$39</del> $29</p>
                        <a href="product.html?id=4">View Details</a>
                    </div>
                </div>
                <div class="product-card show">
                    <img src="../static/images/blue grapes.png" alt="Headphones">
                    <div class="description">
                        <h3>Headphones</h3>
                        <p><del>$249</del> $199</p>
                        <a href="product.html?id=5">View Details</a>
                    </div>
                </div>
                <div class="product-card show">
                    <img src="../static/images/blue grapes.png" alt="Smart Home Device">
                    <div class="description">
                        <h3>Smart Home Device</h3>
                        <p><del>$179</del> $149</p>
                        <a href="product.html?id=6">View Details</a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
